<?xml version="1.0" encoding="utf-8"?>

<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      throwConfigExceptions="true"
      internalLogLevel="Info"
      internalLogToTrace="true"
      internalLogFile="Logs/NLogInternal.log">
    
    <targets>

        <target xsi:type="Null" name="blackhole" />


        <target name="LOG_FILE"
                xsi:type="File"
                layout="[${longdate}] ${pad:padding=-5:inner=${level:uppercase=true}}${newline}${message}${newline}"
                encoding="utf-8"
                fileName="Logs/${date:format=yyyyMMdd}/${filesystem-normalize:inner=${level}}.log" />
    </targets>

    <rules>
        <logger name="UserLog" minlevel="Trace" writeTo="LOG_FILE" />
    </rules>
</nlog>